@page "/"

<PageTitle>Home</PageTitle>

<h2 style="margin-top: 50px">Welcome to online book auction!</h2>
<img style="margin-top: 100px" src="https://cdn-icons-png.flaticon.com/512/2570/2570154.png" class="img-fluid" alt="...">



